<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBQtDmxBNiH9NqM808OqNDr9i8gJ1MsLSw</string>
	<key>GCM_SENDER_ID</key>
	<string>172577078460</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ghostcart.app</string>
	<key>CLIENT_ID</key>
	<string>172577078460-7h38fc6737bttb21lm3rtcb6i542gur2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.172577078460-7h38fc6737bttb21lm3rtcb6i542gur2</string>
	<key>PROJECT_ID</key>
	<string>ghost-cart-14cff</string>
	<key>STORAGE_BUCKET</key>
	<string>ghost-cart-14cff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:172577078460:ios:52bdcfb73015a9067f64b9</string>
</dict>
</plist>
